/* Sidebar styling */
.sidebar {
    width: 250px;
    position: fixed;
    left: -250px;
    top: 0;
    background-color: #f8f9fa;
    height: 100%;
    transition: left 0.3s;
    z-index: 1000;
  }
  
  .sidebar.open {
    left: 0;
  }
  
  /* Hide sidebar on large screens and adjust content margin */
  @media (min-width: 768px) {
    .sidebar {
      left: 0;
    }
  
    .content {
      margin-left: 250px;
    }
  }
  